<div class="w-screen p-[1rem]">
    <img
        class="w-full"
        src="https://cdn.discordapp.com/attachments/1125453534062719016/1162302877507784704/Banner_Ticket.png?ex=653b71e8&is=6528fce8&hm=b97686cec57f00ef08a7b30985c857004429ae330f7fa8b19e53a57afd92992a&"
        alt="Banner" />
    <div class="flex w-fill items-stretch">
      <div class="w-1/2 items-center">
        <p class="font-bold">Ticket 1 of <%= ticket_number %></p>
        <img class="w-full" src="<%= qr %>" />
      </div>
      <div class="w-1/2 flex flex-col justify-center">
        <div class="text-start">
          <div>Tiket No. / No. Tiket</div>
          <div class="font-bold text-lg"><%= ticket_token %></div>
        </div>
        <div class="text-start mt-[1rem]">
          <div>Name / Nama</div>
          <div class="font-bold text-lg"><%= nama %></div>
        </div>
        <div class="text-start mt-[1rem]">
          <div>Email</div>
          <div class="font-bold text-lg"><%= email %></div>
        </div>
      </div>
    </div>
    <div>
      <div class="font-bold">Awarding Night Mr. & Ms. UMN 2023</div>
      <div class="flex mt-[1rem]">
        <div class="w-1/4">
          <div></div>
          <div>Open Gate</div>
          <div>Vanue Event</div>
        </div>
        <div class="w-3/4 font-bold">
          <div>: 16.00 - 18.00 WIB</div>
          <div>: Q BIG Convention Hall</div>
        </div>
      </div>
      <div class="mt-[2rem]">
        <p class="font-bold">Syarat & Ketentuan</p>
        <p class="font-bold mt-[1rem]">Umum</p>
        <p>1. Harga belum termasuk biaya administrasi.</p>
        <p>2. Pembeli wajib megisi data diri pribadi saat memsan.</p>
        <p>3. Tiket yang sudah dibeli tidak dapat dikembalikan.</p>

        <p class="font-bold mt-[1rem]">E-tiket</p>
        <p>1. E-Tiket tidak dapat dikembalikan</p>
        <p>2. Kehilangan E-Tiket merupakan tanggung jawab pemegang</p>
        <p>
          3. Masing - masing E-ticket akan ditukarkan pada tanggal kegiatan
          untuk memilih tempat duduk.
        </p>
      </div>
    </div>
  </div>