<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tiket Himalaya - MR. & MS. UMN 2023</title>
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" />   
  </head>
  <body>


    <% for (var i = 0; i < pages.length; i++) { %>    

      <% if (i == pages.length - 1) { %>
        <div
        style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"
        class="w-screen p-[1rem]">
      <% } else { %>
        <div
        style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; page-break-after: always;"
        class="w-screen p-[1rem]">
      <% } %>
    
        </div>

        <div class="flex w-fill items-stretch" style="display: flex; width: 100%">
          <div class="w-1/2 items-center" style="width: 50%">
            <p style="font-weight: bold">Ticket 1 of <%= pages[i].ticket_number %></p>
            <img
              style="width: 100%"
              src="<%= pages[i].qr %>" />
          </div>
          <div
            style="
              width: 50%;
              display: flex;
              flex-direction: column;
              justify-content: center;
            "
            class="w-1/2 flex flex-col justify-center">
            <div class="text-start">
              <div>Tiket No. / No. Tiket</div>
              <div style="font-weight: bold"><%= pages[i].ticket_token %></div>
            </div>
            <div style="margin-top: 1rem" class="text-start mt-[1rem]">
              <div>Name / Nama</div>
              <div style="font-weight: bold"><%= pages[i].nama %></div>
            </div>
            <div style="margin-top: 1rem" class="text-start mt-[1rem]">
              <div>Email</div>
              <div style="font-weight: bold"><%= pages[i].email %></div>
            </div>
          </div>
        </div>
        <div>
          <div style="font-weight: bold" class="font-bold">
            Awarding Night Mr. & Ms. UMN 2023
          </div>
          <div style="display: flex; margin-top: 1rem" class="flex mt-[1rem]">
            <div style="margin-right: 1rem" class="w-1/4">
              <div></div>
              <div>Open Gate</div>
              <div>Vanue Event</div>
            </div>
            <div style="font-weight: bold" class="w-3/4 font-bold">
              <div>: 16.00 - 18.00 WIB</div>
              <div>: Q BIG Convention Hall</div>
            </div>
          </div>
          <div style="margin-top: 2rem" class="mt-[2rem]">
            <p style="font-weight: bold" class="font-bold">Syarat & Ketentuan</p>
            <p
              style="font-weight: bold; margin-top: 1rem"
              class="font-bold mt-[1rem]">
              Umum
            </p>
            <p>1. Harga belum termasuk biaya administrasi.</p>
            <p>2. Pembeli wajib megisi data diri pribadi saat memsan.</p>
            <p>3. Tiket yang sudah dibeli tidak dapat dikembalikan.</p>

            <p
              style="font-weight: bold; margin-top: 1rem"
              class="font-bold mt-[1rem]">
              E-tiket
            </p>
            <p>1. E-Tiket tidak dapat dikembalikan</p>
            <p>2. Kehilangan E-Tiket merupakan tanggung jawab pemegang</p>
            <p>
              3. Masing - masing E-ticket akan ditukarkan pada tanggal kegiatan
              untuk memilih tempat duduk.
            </p>
          </div>
        </div>
      </div>

    <% } %>

  </body>
</html>
